.home{
  background-color: pink;
  text-align: center;
}
body{
  background-color: white;
}
Footer{
  background-color: purple;
  text-align: center;
}
.B{
  padding-left: 100px;
  padding-right: 100px;
}
.C{
  padding-left: 100px;
}
.D{
  padding-left: 100px;
}